@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.highlight::before {
    content: '';
    @apply absolute top-0 left-0 right-0 bottom-0 opacity-0 transition-opacity duration-1000 ease-in-out;
    background-image: radial-gradient(circle at top left, rgba(255, 255, 255, 0.15) 0%, transparent 70%),
                      radial-gradient(circle at top right, rgba(255, 255, 255, 0.15) 0%, transparent 70%),
                      radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.15) 0%, transparent 70%),
                      radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.15) 0%, transparent 70%);
  }
  
  .highlight:hover::before {
    @apply opacity-100;
  }

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


::-webkit-scrollbar {
  width: 20px;
  margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(220, 122, 122, 0.27);
  opacity: 0.1;
  border-radius: 10px;
}